
@font-face {
  font-family:'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
   url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'),
     url('../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1{
	font-family: "Roboto-Bold";
	color: SkyBlue;}

h2{
	font-family:"Roboto-Bold";
	color: white;
	
}
.contact_info{
	font-family: "Roboto-Bold";
	color:white;
	font-size:20px;
	margin-top:45px;
	color: white;
}

.info{
	color: white;
	font-size: 30px;
}
.me{
	font-family: "Roboto-Bold";
	color: SkyBlue;
}
.list{
	font-family: "Roboto-Bold";
	color: SkyBlue;
	font-size: 20px;
	


}
.fa{
	font-size: 40px;
	margin-top: 40px;
}



th.info{
	font-size: 20px;
	font-family :"Roboto-Bold";
}
.edu{
	font-family:"Roboto-Bold";
	font-size: 20px;
}
h3{
	font-size: 22px;
	font-family: "Roboto-Bold";
	margin-top: 0px;

}
}
.grafic_td{
	background:#5a708e;
	color: white;
	font-family: "Roboto-Bold";
	
	border-color-right:black;
}

.photo{
	border-right: 30px;
}
.front_end{
	background: Skyblue;
	color: white;
	font-family: "Roboto-Bold";
}
.personal_qualities{

	background:Brown;
	color: white;
	font-family: "Roboto-Bold";
}
p{
	color: white;
	font-size: 15px;
}



